button {
  border: none;
  background: none;
  border-radius: 2px;
  font-size: 0.8rem;
  width: 110px;
  height: 80px;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5), 0 0px 0px rgba(0, 0, 0, 0.25);
}
button:hover {
}

.highlighted-name {
  background: linear-gradient(to right, #ff5c5c, #ff9d00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.categoryTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 150px;
  gap: 20px;
}
.categoryCard {
  height: 100px;
}
.exitStage {
  width: 90px;
  height: 30px;
  background-color: #ede0d4;
}
.quizLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.questionContainer {
  margin-top: 200px;
  margin-bottom: 200px;
}
.question {
  font-size: 1.3rem;
  text-align: center;
  color: #ede0d4;
  max-width: 350px;
}
.btnWrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.sliderWrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.sliderTextWrap {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 100px;

  color: #ede0d4;
}
.sliderText {
  font-size: 1rem;
  justify-self: flex-start;
  text-align: left;
  max-width: 110px;
}
.sliderTextTwo {
  font-size: 1rem;

  text-align: end;
  max-width: 110px;
}
.buttonLeft {
  font-weight: bold;
  color: #dfdfdf;
  background: linear-gradient(to bottom, #f45a5a 0%, #f45a5a 60%, #973d3d 100%);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 10px 16px;
}
.buttonLeft:hover,
.buttonMiddle:hover,
.buttonRight:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.6);
}

.buttonMiddle {
  font-weight: bold;
  color: #dfdfdf;
  background: linear-gradient(to bottom, #c1288d 0%, #c1288d 60%, #5f1b31 100%);
}
.buttonRight {
  font-weight: bold;
  color: #dfdfdf;
  background: linear-gradient(
    to bottom,
    #9f1fc3 0%,
    #9f1fc3 60%,
    rgb(60, 11, 73) 100%
  );
}
.summaryWrap {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 50px;
}
.summaryBtn {
  background-color: #ede0d4;
  height: 50px;
  font-weight: bold;
  color: #343434;
  font-size: 1rem;
}
.active {
  background: none;
  background-color: #ede0d4;
  color: #343434;
}
