.categoryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 60px;
  column-gap: 10px;
  padding: 20px;
  align-self: center;
  justify-self: center;
}

.categoryTitle {
  grid-column: 1 / span 2;
  grid-row: 1;
  color: #ede0d4;
  justify-self: center;
  align-self: center;
  text-align: center;
  font-size: 2rem;
}

.puppetmasterLogo {
  width: 170px;
}
.stringpullerLogo {
  width: 170px;
}
.wildcardLogo {
  width: 170px;
}
.puppetmasterBtn {
  background: none;
  border: none;
  grid-area: 2/1;
  justify-self: end;
  width: fit-content;
  align-self: flex-start;
}
.stringpullerBtn {
  grid-area: 3/1;
  width: fit-content;
  background: none;
  border: none;
  justify-self: end;
  width: fit-content;

  align-self: flex-start;
}
.wildcardBtn {
  grid-area: 4/1;
  width: fit-content;
  background: none;
  border: none;
  justify-self: end;
  width: fit-content;
  align-self: flex-start;
}
.wildcardBtn:hover {
  cursor: pointer;
}
.categoryInfoMaster {
  grid-area: 2/2;
  color: #ede0d4;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.categoryInfoPuller {
  grid-area: 3/2;
  color: #ede0d4;
  font-size: 1rem;
}

.categoryInfoWild {
  grid-area: 4/2;
  color: #ede0d4;
  font-size: 1rem;
}
.redPop {
  color: #f45a5a;
}
.nameForm {
  z-index: 1000;
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0px;
  background: linear-gradient(to bottom, #a1283d, #480914);

  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.6);
}
.nameInput {
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  margin-top: 20px;
  height: 40px;
  font-size: 1rem;
  padding-left: 5px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.6);
}
.formBtnWrap {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.enterStageBtn {
  background-color: #3a7d7d;
  color: white;
  font-size: 1.2rem;
  height: 50px;
  width: 140px;
}
.backBtn {
  background-color: #ede0d4;
  color: rgb(15, 15, 15);
  font-size: 1.2rem;
  height: 50px;
  width: 80px;
}
@media (min-width: 600px) {
  .categoryTitle {
    font-size: 3rem;
  }
  .categoryContainer {
    row-gap: 60px;
    column-gap: 40px;
    padding: 20px;
  }
  .puppetmasterLogo,
  .stringpullerLogo,
  .wildcardLogo {
    width: 200px;
  }
  .categoryInfoMaster,
  .categoryInfoPuller,
  .categoryInfoWild {
    font-size: 1.5rem;
  }
  .nameInput {
    height: 50px;
    font-size: 1.5rem;
  }
  .enterStageBtn {
    font-size: 1.6rem;
    height: 60px;
    width: 170px;
  }
  .backBtn {
    background-color: #ede0d4;
    color: rgb(15, 15, 15);
    font-size: 1.6rem;
    height: 60px;
    width: 100px;
  }
}
@media (min-width: 1000px) {
  .categoryTitle {
    font-size: 4rem;
  }
  .categoryContainer {
    row-gap: 100px;
    column-gap: 40px;
    padding: 20px;
  }
  .puppetmasterLogo,
  .stringpullerLogo,
  .wildcardLogo {
    width: 280px;
  }
  .categoryInfoMaster,
  .categoryInfoPuller,
  .categoryInfoWild {
    font-size: 1.5rem;
    max-width: 380px;
  }
  .nameInput {
    height: 50px;
    font-size: 1.5rem;
  }
  .enterStageBtn {
    font-size: 1.6rem;
    height: 60px;
    width: 170px;
  }
  .backBtn {
    background-color: #ede0d4;
    color: rgb(15, 15, 15);
    font-size: 1.6rem;
    height: 60px;
    width: 100px;
  }
}
