.headerContainer {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}
.headerFirstP {
  font-size: 1.5rem;
  color: #ede0d4;
  margin: 0;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.headerSecondP {
  font-size: 1rem;
  color: #ede0d4;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 150px;
}
.redPop {
  color: #f45a5a;
}
@media (min-width: 600px) {
  .headerFirstP {
    font-size: 2rem;
  }
  .headerSecondP {
    font-size: 1.5rem;
  }
}
