@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

html,
body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  height: 100vh;
  background-image: url("/images/background-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.hidden-image {
  display: none;
}

p {
  margin: 0;
  padding: 0;
}
button {
  font-family: "Playfair Display", serif;
}

.nav-container {
  display: flex;
  justify-content: center;
  height: 35vh;
}
.logo {
  width: 200px;
  height: auto;
}
