.summaryContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
}
.categoryTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 100px;
  gap: 20px;
}
.categoryCard {
  height: 100px;
}
.summaryText p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}

.summaryStage {
  width: 300px;
  justify-self: center;
  align-self: center;
  margin-top: 0px;
  padding-bottom: 150px;
  margin-left: 70px;
}
.dailyInfo {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 200;
}
.startOverBtn {
  margin: 20px;
  text-align: center;
  color: #2b2b2b;
  width: 110px;
  height: 50px;
  font-size: 1rem;
  background-color: #d9d9d9;
}
@media (min-width: 600px) {
  .categoryCard {
    height: 140px;
  }
  .summaryText p {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
  }
  .summaryStage {
    width: 500px;

    margin-top: 30px;
    padding-bottom: 150px;
  }
}
@media (min-width: 600px) {
  .categoryCard {
    height: 180px;
  }
  .summaryText p {
    margin: 0.5rem 0;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    max-width: 800px;
  }
  .summaryStage {
    width: 500px;

    margin-top: 30px;
    padding-bottom: 150px;
  }
}
